<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Artist Cards</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"
          type="text/css">

</head>
<body>

<div class="hero-img" id="hero">
    <div class="hero-text">
        <h1>GROUPIE TRACKER</h1>
        <button class="discover-button" onclick="scrollToCards()">
            <span><i class="fa-solid fa-arrow-down"></i></span>
        </button>
    </div>
    <div class="search-container">
        <input class="search-input" id="search-input" name="query" placeholder="Search for artists..." type="search"
               value="{{.Query}}">
        <button class="search-button" id="search-button" type="submit">
            <i class="fas fa-search"></i>
        </button>
        <ul class="suggestions-list" id="suggestions"></ul>
    </div>
</div>

<button id="filter-button" onclick="toggleFilters()">Click here to filter</button>
<div class="filter-container" id="filter-container">
    <h3>Filters</h3>
    <label for="creation-date">Creation Date:</label>
    <input type="range" id="creation-date" min="1900" max="2023" value="2023" oninput="updateValue('creation-date', 'creation-value')">
    <span id="creation-value">2023</span>
    
    <label for="first-album-date" style="padding-left: 15px;">First Album Date:</label>
    <input type="range" id="first-album-date" min="1900" max="2023" value="2023" oninput="updateValue('first-album-date', 'first-album-value')">
    <span id="first-album-value">2023</span>
    
    <h4>Number of Members:</h4>
    <label><input type="checkbox" name="members" value="1">1 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="2">2 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="3">3 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="4">4 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="5">5 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="6">6 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="7">7 </label>
    <label style="padding-left: 10px;"><input type="checkbox" name="members" value="8">8 </label>


    
    <h4>Locations of Concerts:</h4>
    <input class="search-location" id="search-location" name="query" placeholder="Enter location..." type="search"
               value="">
</div>

<div id="artistCards">
    {{if .Artists}}
    {{range .Artists}}
    <a href="/details?id={{.ID}}">
        <div class="card">
            <div class="container">
                <h4>{{.Name}}</h4>
                <img alt="{{.Name}}" loading="lazy" src="{{.Image}}" style="width:100%">
            </div>
        </div>
    </a>
    {{end}}
    {{else}}
    <div class="gif-container">
        <div>
            <img alt="No search results" src="/static/gifs/no-search-results.gif"/>
            <h5 style="text-align: center">No Artist</h5>
        </div>
    </div>
    {{end}}
</div>

<script>
    function scrollToCards() {
        const cardsSection = document.getElementById('artistCards');
        cardsSection.scrollIntoView({behavior: 'smooth'});
    }

    function toggleFilters() {
        const filterContainer = document.getElementById('filter-container');
        filterContainer.style.display = filterContainer.style.display === 'none' || filterContainer.style.display === '' ? 'block' : 'none';
    }

    function updateValue(sliderId, valueId) {
        const slider = document.getElementById(sliderId);
        const valueDisplay = document.getElementById(valueId);
        valueDisplay.textContent = slider.value;
    }

    // Filtering logic will be added here
</script>
<script src="/static/js/searchbar.js"></script>

</body>
</html>
